<div class="center jumbotron">
  <h1>King Restaurant</h1>
  <%= link_to "Menu", menu_path, class: "btn btn-primary btn-lg btn-xlarge" %>
  <%= link_to "Contact us", contact_us_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>
