@import "bootstrap";
@import "font-awesome";

.navbar {
	margin-bottom: 20px;
}

body {
	background-color: #eee;
}

.container {
	min-width: 500px;
}


.close {
	float: none
}

.summary-section {
  input {
    margin-top: 1em;
  }
}