@import "bootstrap";
@import "font-awesome";

.navbar {
	margin-bottom: 20px;
}

body {
	background-color: #eee;
}

.container {
	min-width: 500px;
}


.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #000;
  border-right-width:0px;
  border-left-width:0px;
}

.close {
	float: none
}