<li class="list-group-item">
	<div class="card-block">
	<h3>
		<%= review.username %>
	</h3>
	<p>
		<%= image_tag("star.png", height: "16" )%>
		<%= review.rate %>
	</p>
	<p>
		<%= review.content %>
	</p>
	</div>
</li>
